<div class="tooltip big5_agreeableness">
    <p>Higher: Value getting along with others. They have a more optimistic view of human nature. Lower: Value self interests
        over others. They are more skeptical of others' motives.</p>
</div>

<div class="tooltip facet_altruism">
    <p>Active and genuine concern for the welfare of others.</p>

</div>
<div class="tooltip facet_sympathy">
    <p>Attitude of compassion for others; kindness.</p>

</div>
<div class="tooltip facet_morality">
    <p>Frank and genuine in expression; candid, blunt.</p>

</div>
<div class="tooltip facet_trust">
    <p>Level of belief in the sincerity and good intentions of others.</p>

</div>
<div class="tooltip facet_cooperation">
    <p>Dislike of confrontations. Responding to interpersonal conflict with a willingness to compromise.</p>

</div>
<div class="tooltip facet_modesty">
    <p>Tendency to be unassuming and play down own achievements; humility.</p>

</div>
<div class="tooltip big5_conscientiousness">
    <p>Higher: More self-disciplined, dutiful, or aiming for achievement against measures or outside expectations. Lower: More
        likely to prefer the spontaneous over the planned.</p>

</div>
<div class="tooltip facet_achievement_striving">
    <p>The need for personal achievement and sense of direction.</p>

</div>
<div class="tooltip facet_dutifulness">
    <p>Sense of duty; amount of emphasis placed on fulfilling obligations.</p>

</div>
<div class="tooltip facet_self_discipline">
    <p>Will-power; the capacity to begin tasks and follow through to completion in spite of boredom or distractions.</p>

</div>
<div class="tooltip facet_cautiousness">
    <p>Tendency to think things through before acting or speaking.</p>

</div>
<div class="tooltip facet_self_efficacy">
    <p>Belief in one's own competence.</p>

</div>
<div class="tooltip facet_orderliness">
    <p>Personal organization, tidiness, neatness.</p>

</div>
<div class="tooltip big5_openness">
    <p>Openness to experience. Higher: Intellectually curious, emotionally-aware, sensitive to beauty and willing to try new
        things. Lower: Preferring the plain, straightforward, and obvious over the complex, ambiguous, and subtle.</p>

</div>
<div class="tooltip facet_emotionality">
    <p>Emotional availability; awareness of own feelings.</p>

</div>
<div class="tooltip facet_artistic_interests">
    <p>Appreciation for art and beauty, both man-made and in nature.</p>

</div>
<div class="tooltip facet_adventurousness">
    <p>Eagerness to trying new activities and experiencing new things.</p>

</div>
<div class="tooltip facet_intellect">
    <p>Intellectual curiosity; openness to new ideas.</p>

</div>
<div class="tooltip facet_imagination">
    <p>Openness to creating an inner world of fantasy.</p>

</div>
<div class="tooltip facet_liberalism">
    <p>Openness to re-examine own values and traditions; readiness to challenge authority.</p>

</div>
<div class="tooltip big5_extraversion">
    <p>Higher: More energetic and pronounced engagement with the external world. Likes high group visibility, talking, and asserting
        themselves. Lower: Needs less stimulation and are more independent of their social world. It does not mean they are
        shy, un-friendly, or antisocial.</p>

</div>
<div class="tooltip facet_friendliness">
    <p>Interest in and friendliness towards others; socially confident.</p>

</div>
<div class="tooltip facet_cheerfulness">
    <p>Tendency to experience or express positive emotions.</p>

</div>
<div class="tooltip facet_activity_level">
    <p>Pace of living; level of busyness.</p>

</div>
<div class="tooltip facet_assertiveness">
    <p>Forcefulness of expression; pursuit of leadership and social ascendancy; desire to direct the activities of others.</p>

</div>
<div class="tooltip facet_gregariousness">
    <p>Fondness for the company of others; sociability.</p>

</div>
<div class="tooltip facet_excitement_seeking">
    <p>A need for environmental stimulation.</p>

</div>
<div class="tooltip big5_neuroticism">
    <p><strong>This demo cannot diagnose a mental illness.</strong> Higher: More likely to have negative emotions or get upset.
        It could mean they are going through a tough time. Lower: More calm and less likely to get upset. It does not mean
        they are positive, or happy people.</p>

</div>
<div class="tooltip facet_anxiety">
    <p>Tendency to dwell on difficulty or troubles; easily experience unease or concern.</p>

</div>
<div class="tooltip facet_vulnerability">
    <p>Difficulty in coping with stress or pressure in difficult situations.</p>

</div>
<div class="tooltip facet_self_consciousness">
    <p>Concern with rejection, embarrassment; shyness.</p>

</div>
<div class="tooltip facet_immoderation">
    <p>Tendency to act on cravings and urges rather over resisting them or delaying gratification.</p>

</div>
<div class="tooltip facet_anger">
    <p>Tendency to experience–but not necessarily express–anger or frustration.</p>

</div>
<div class="tooltip facet_depression">
    <p>Normal tendency to experience feelings of guilt, sadness, hopelessness, or loneliness. <strong>This demo cannot diagnose a mental illness.</strong></p>

</div>
<div class="tooltip need_harmony">
    <p>A need to appreciate or please other people, their viewpoints, and feelings.</p>

</div>
<div class="tooltip need_curiosity">
    <p>A need to pursue experiences that foster learning, exploration, and growth.</p>

</div>
<div class="tooltip need_stability">
    <p>A need for the sensible, tried and tested, with a good track record and a known history.</p>

</div>
<div class="tooltip need_self_expression">
    <p>A desire to discover and assert one's identity.</p>

</div>
<div class="tooltip need_closeness">
    <p>A need to nurture or be nurtured; a feeling of belonging.</p>

</div>
<div class="tooltip need_love">
    <p>Social contact, whether one-to-one or one-to-many.</p>

</div>
<div class="tooltip need_liberty">
    <p>A need to escape, a desire for new experiences, new things.</p>

</div>
<div class="tooltip need_structure">
    <p>A need for organization, planning, and things that have a clear purpose.</p>

</div>
<div class="tooltip need_excitement">
    <p>A need to pursue experiences or lead a lifestyle that arouses enthusiasm and eagerness.</p>

</div>
<div class="tooltip need_ideal">
    <p>A desire to satisfy one's idea of perfection in a lifestyle or experience, oftentimes seen as pursuing a sense of community.</p>

</div>
<div class="tooltip need_challenge">
    <p>A desire to achieve, succeed, compete, or pursue experiences that test one's abilities.</p>

</div>
<div class="tooltip need_practicality">
    <p>A desire for getting the job done, skill, and efficiency.</p>

</div>
<div class="tooltip value_conservation">
    <p>Respect, commitment, and acceptance of the customs and ideas that one's culture and/or religion provides.</p>

</div>
<div class="tooltip value_openness_to_change">
    <p>Excitement, novelty, and challenge in life.</p>

</div>
<div class="tooltip value_hedonism">
    <p>Preserving and enhancing the welfare of those with whom one is in frequent personal contact.</p>

</div>
<div class="tooltip value_self_enhancement">
    <p>Personal success through demonstrating competence according to social standards.</p>

</div>
<div class="tooltip value_self_transcendence">
    <p>Pleasure or sensuous gratification for oneself.</p>

</div>